.logIn {
  display: flex;
  justify-content: center;
}

.login__content {
  margin-top: 1rem;
  background: white;
  height: 40rem;
  min-width: 30rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.login__form {
  max-width: 75%;
  width: 100%;
  align-content: center;
}
